@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2&family=Monoton&display=swap');
/* 
font-family: 'Baloo Bhaijaan 2', cursive;
font-family: 'Monoton', cursive;
*/

.main{
    display: flex;
    flex-direction:row;
}
*{
    font-family:'Baloo Bhaijaan 2', cursive ;
    margin: 0;
    padding: 0;
}
.head_{
    color: rgb(0, 95, 173);
    font-weight: 700;
}